doctype html
html
  head
    title Dualinguist
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap', rel='stylesheet')

    // Block for page-specific styles
    block stylesheets
      link(rel='stylesheet', href='/layout.css')

  body
    header
      .container
        h1 Dualinguist
        nav
          ul
            li
              a(href='/homepage') Home
            li
              a(href='/language-list') Languages

            if user
              li
                a(href="/forums")  Forum
              li
                a(href=`/userprofile/${user.id}`) Profile
              li
                a(href='/logout') Logout
            else
              
              li
                a(href='/login') Login
              li
                a(href='/signup') Signup

    main
      .container
        block content

    footer
      .container
        p &copy; 2025 Dualinguist. All rights reserved.

    // Block for page-specific scripts
    block scripts