extends layout

block content
  link(rel='stylesheet', href='/login.css')

  .login-overlay
    .login-wrapper
      h2 Log In

      form(action='/login', method='POST')
        label(for='email') Username
        input(type='text', name='email', placeholder='Enter your username', required)

        label(for='password') Password
        input(type='password', name='password', placeholder='Enter your password', required)

        button(type='submit') Sign In

      p.signup-link
        | Don't have an account?
        a(href='/signup') Sign Up
