// ProgressStatus.pug

extends layout

block content
  h1 Progress Status
  h2 Quiz Progress
  if quizProgress.length > 0
    table
      thead
        tr
          th Quiz ID
          th Score
          th Date Taken
      tbody
        each progress in quizProgress
          tr
            td= progress.ActivityID
            td= progress.Score
            td= progress.TakenAt
  else
    p No quiz progress found.

  h2 Assessment Progress
  if assessmentProgress.length > 0
    table
      thead
        tr
          th Assessment ID
          th Score
          th Date Taken
      tbody
        each progress in assessmentProgress
          tr
            td= progress.ActivityID
            td= progress.Score
            td= progress.TakenAt
  else
    p No assessment progress found.

  a(href='/userprofile/#{user.id}') Go back to Profile