extends layout 

block head 
    link(rel="stylesheet", href="/categories.css")

block content 
    section#categories
        h2 Quiz Categories
        div.levels-container
            each category in categories
                div.level
                    h3 #{category.CategoryName}
                    p Category ID: #{category.CategoryID}
                    button(onclick=`selectCategory('${category.CategoryID}')`) Choose
    p.choose-text Pick a quiz category ✨
    
    script(src="/categories.js" defer)
