extends layout

block content
  link(rel='stylesheet', href='/signup.css')

  .signup-overlay
    #signup-container
      h1 Sign Up

      form(action='/signup', method='POST')
        label(for='name') Name:
        input#name(type='text', name='name', required)

        label(for='email') Email:
        input#email(type='email', name='email', required)

        label(for='password') Password:
        input#password(type='password', name='password', required)

        label(for='phone_number') Phone Number:
        input#phone_number(type='text', name='phone_number')

        label(for='bio') Bio:
        textarea#bio(name='bio')

        button(type='submit') Sign Up

      p Already have an account?
        a(href='/login') Log in here
