extends layout

block content
  h1= `Student Quiz - Language: ${languageName}`

  if questions.length === 0
    p No questions available for this language.

  form(action='/submit-quiz', method='POST')
    each question in questions
      div.question
        h2= question.QuestionText
        each answer in question.answers
          label
            input(type='radio', name=`${question.QuestionID}`, value=`${answer.AnswerID}`)
            = answer.AnswerText
          
    button(type='submit') Submit Quiz