extends layout

block content
    h2 Student Quiz
    if questions.length
        each question in questions
            .question
                h3= question.QuestionText
                ul
                    each answer in question.answers
                        li
                            label
                                input(type="radio", name=`question-${question.QuestionID}`, value=answer.AnswerID)
                                = answer.AnswerText
    else
        p No questions available for the student quiz.
