extends layout

block head 
  link(rel='stylesheet', href='/users-list.css')

block content  
  h1 Users List
  table(border='1')
    thead
      tr
        th Profile Picture
        th Name
        th Bio
        th Learning Language
    tbody
      each user in users
        tr
          td: img(src=`/uploads/${user.profile_picture}`, alt='Profile Picture', width='50')
          td #{user.name}
          td #{user.bio}
          td #{user.learning_language}
