extends layout

block content  
  h1 Users List

  table(border='1')
    thead
      tr
        th Profile Picture
        th Name
        th Bio
    tbody
      each user in users
        if user
          tr
            td 
              if user.profile_picture
                img(src=`/uploads/${user.profile_picture}`, alt='Profile Picture', width='50')
              else
                img(src='/uploads/default.png', alt='Default Profile', width='50')
            td= user.name || 'No Name'
            td= user.bio || 'No bio available'
